@using BoardGames_FinalProject.Models
@using Microsoft.Extensions.Options
@inject IOptions<BoardGames_FinalProject.Data.StripeSettings> Stripe


@{
    ViewData["Title"] = "Checkout";
}

@{
    @inject SignInManager<User> signInManager
}


<div class="text-center">
    @if (signInManager.IsSignedIn(User))
    {
        <form asp-action="Processing" asp-controller="Cart" method="post">
            <article>
                <label>Amount: @String.Format("{0:c}", ViewBag.total / 100.00)</label>
            </article>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="@Stripe.Value.PublishableKey"
                    data-amount="@ViewBag.Total"
                    data-name="The Board Game Store"
                    data-description="Board Game payment"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="en"
                    data-zip-code="true">
            </script>
        </form>
    }
    else
    {
        <p>You are not Logged In.</p>
        <p>
            <a asp-action="Login" asp-controller="Account"
               asp-area="" class="btn btn-primary">Log In</a> and complete purchase.
        </p>
    }
    <br />
    <a class="btn btn-danger text-center" asp-action="List" asp-controller="BoardGame">Back to Shopping</a>
</div>