@*@using Microsoft.Extensions.Options
    @inject IOptions<ECommerceShoppingCartASPNet5.Data.StripeSettings> Stripe*@

@{
    ViewData["Title"] = "Payment Processed";
}

<div class="text-center">
    <form asp-action="Processing" asp-controller="Cart" method="post">

        <label class="text-info">Your Payment has been successfully processed</label>
        <br />
        <br />
        <p class="blockquote text-center">
            The details of the transaction are  <br />
            Customer : @ViewBag.Customer <br />
            Amount : $ @ViewBag.AmountPaid


        </p>
    </form>
</div>